.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

.container nav {
    height: 100vh;
    width: 18rem;
    max-width: 30%;
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    overflow: auto;
    box-sizing: border-box;
}

.container nav .info {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    box-sizing: border-box;
    padding: 1rem 1rem;
}

.info span {
    font-weight: bolder;
    margin-top: 1rem;
}

.personal-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    background-color: rgba(242, 243, 245);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}

.container main {
    flex: 1;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}

.container main header {
    height: 5rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container main section {
    box-sizing: border-box;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.container main header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255);
    position: sticky;
    z-index: 2;
}

.container main header .left-header {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

.container main header .right-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .container nav {
        display: none;
    }

    .container main header {
        justify-content: space-between;
    }

    .container main header .left-header {
        display: flex;

    }
}