.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
}
.container nav{
    height: 100vh;
    width: 18rem;
    border: 1px solid black;
    overflow: auto;
    box-sizing: border-box;
}
.container nav .info{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-sizing: border-box;
    padding: 1rem 1rem;
}
.container nav .info span{
    font-weight: bolder;
}
.personal-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    background-color: rgba(242, 243, 245);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}


.container nav .navigation{
    height: 100rem;
    border: 1px solid black;
    box-sizing: border-box;
}

.container main{
    flex: 1;
    height: 100vh;
    border: 1px solid black;
    overflow: auto;
    box-sizing: border-box;
}

.container main header{
    height: 5rem;
    border: 1px solid black;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.container main section{
    height: 100rem;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1rem 2.5rem;
}