.checkbox {
    font-size: 1rem;
    display: inline-flex;
    flex-direction: row;
    column-gap: 0.1rem;
    cursor: pointer;
}

.checkbox div {
    display: inline-flex;
    align-items: center;
}

.checkmark {
    height: 1.15rem;
    width: 1.15rem;
}

.checkmark .checked {
    fill: rgb(0, 171, 85);
}

.checkmark .unchecked {
    fill: rgb(99, 115, 129);
}