.navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.navigation-container {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 75vw;
}

.navigation-content {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    box-sizing: border-box;
    padding: 1rem 1rem;
    height: 100vh;
    overflow: auto;
}