.tool {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 1.5rem;
    background-color: #f5f5f5;
    padding: 0.625rem;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0;
}

.tool li {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    column-gap: 0.35rem;
}

.tool .dropdown-add {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.tool .setting-column {
    overflow: hidden;
    text-overflow: ellipsis;
}