.dropdown-wrapper {
    position: relative;
    cursor: pointer;
}
.dropdown-menu-wrapper{
    position: absolute;
    right: 0;
    z-index: 3;
}

.dropdown-menu {
    width: 10rem;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: rgb(145, 158, 171, 0.2) 0px 0px 2px 0px, rgb(145, 158, 171, 0.2) 0px 12px 24px -4px;
    border-radius: 0.5rem;
}

.dropdown-item{
    display: block;
    padding: 1.5rem 1rem;
    margin: 0;
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: rgba(145, 158, 171, 0.08);
}