.dropdown-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.dropdown-menu-wrapper {
    position: absolute;
    z-index: 2;
}


.dropdown-menu-wrapper-responsive {
    width: 32rem;
    position: absolute;
    z-index: 2;
}

.dropdown-menu-wrapper-responsive-last {
    max-width: 27vw;
}


.dropdown-menu {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    box-sizing: content-box;
    box-shadow: rgb(145, 158, 171, 0.2) 0px 0px 2px 0px, rgb(145, 158, 171, 0.2) 0px 12px 24px -4px;
    border-radius: 0.5rem;
}

.dropdown-info {
    padding: 0.5rem 1rem;
    word-wrap: break-word;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.dropdown-info-name {
    font-weight: 600;
    font-size: 1rem;
}

.dropdown-info-email {
    font-size: 0.875rem;
    color: rgb(99, 115, 129);
}

.dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgba(145, 158, 171, 0.08);
}

@media screen and (max-width: 768px) {
    .dropdown-menu-wrapper-responsive {
        width: 70%;
        height: fit-content;
        max-width: 100vw;
        max-height: 80%;
        overflow: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        box-sizing: border-box;
        box-shadow: rgb(145, 158, 171, 0.2) 0px 0px 2px 0px, rgb(145, 158, 171, 0.2) 0px 12px 24px -4px;
        border-radius: 0.5rem;
    }

}