.forgot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgot-container h2{
    margin: 0;
   
}

.forgot-container p.notify{
    display: block;
    color: #000;
    background-color: rgb(202, 253, 245);
    border-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.forgot-container p.login-error {
    display: block;
    color: red;
    background-color: rgb(255, 233, 213);
    border-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.forgot-container a.login-back{
    color: #000;
    font-size: 1rem;
    text-decoration: underline;
    margin-top: 1rem;
    display: block;
    text-align: center;
}